doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title My Project
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(href='styles.css')
    script(src='main.js')
  body
    header
      block header

    main
      block content